/* ROOT CONFIGS */
:root {
    --black: #000;
    --white: #FFF;
    --bg-color: #F3F3F4;
    --cinza-fraco: #ECECEC;
    --cinza-medio-fraco: #E8E8E8;
    --cinza-medio: #6B6B6B;
    --chumbo: #333;
    --azul-fraco: #3ab1ff;
    --azul-medio-fraco: #027fd1;
    --azul-medio-forte: #0d7dc6;
    --azul-link: #0d6efd;
    --azul-forte: #0a58ca;
    --roxo: #582e9a;
    --cinza-fraco: #D6D6D8;
    --preto-cor-input: #212529;
    --coupon-code-bg: #6c757d2b;
    --green-coupon-border-btncover: #8CC31D;
    --green-coupon-title-imagebg: #76b911;
    --green-coupon-dashedborder-code: #508700;
    --orange-coupon-border-btncover: #D77536;
    --orange-coupon-imagebg: #f57f0d;
    --orange-coupon-title: #ef5026;
    --orange-dashedborder-code: #9b3900;
    --black-coupon-border-btncover: #131313;
    --black-coupon-imagebg: #131313;
    --black-coupon-title: #333;
    --black-dashedborder-code: #333;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* WEBSITE */
body {
    font-size: 14px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: var(--bg-color);
}


/* HEADER */
header {
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--white);
    background-color: var(--azul-fraco);
    background-image: linear-gradient(var(--azul-medio-forte), var(--azul-medio-fraco), var(--azul-fraco));
    border-bottom: 1px solid var(--azul-fraco) ;
}
.container {
    width: calc(100% - 20px);
    height: 100%;
    max-width: 1320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-logo-area {
    flex: 1;
    height: 100%;
}
.header-logo-area a {
    display: block;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-input-area {
    width: 100%;
    flex: 1;
}
input {
    width: 100%;
    height: 35px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding: 0.375rem;
    color: var(--preto-cor-input);
}
.header-nav-area {
    flex: 1;
    width: 80%;
    height: 100%;
    max-width: 480px;
    padding: 10px;
    font-size: 12px;
}
.header-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-item {
    min-width: 88px;
    min-height: 44px;
    background-color: var(--white);
    margin: auto 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
.nav-item-link {
    color: var(--azul-link);
    text-decoration: none;
}
.nav-item:hover {
    color: var(--azul-forte);
    transition: 0.2s;
}
.nav-item:hover .nav-item-link{
    color: var(--azul-forte);
    transition: 0.2s;
}
.dropdown {
    position: relative;
    color: var(--azul-link);
}
.dropdown::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
    transform: translateY(-50%);
}


/* TITLE AREA */
.title-area {
    width: 100%;
    background-color: var(--white);
    max-width: 1320px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 0.8rem;
    margin-bottom: 0.8rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.04);

}
.title {
    width: 100%;
    font-family: 1.6em;
    font-weight: 400;
    color: var(--chumbo);
    text-align: center;
    margin-bottom: 0.5rem;
}
.title-description {
    width: 100%;
    text-align: center;
    font-size: 1em;
    color: var(--chumbo);
}
.social-media-link {
    color: var(--azul-link);
}


/* GRID AREA */
.stores-grid {
    width: calc(100% - 20px);
    max-width: 964px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.grid-item {
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.grid-item-link{
    width: 140px;
    height: 140px;
}
.stores-grid img {
    width: 140px;
    height: 140px;
    border-radius: 4px;
    border: 1px solid var(--cinza-fraco);
    object-fit: cover;
} 


/* COUPONS AREA */
.main-container {
    width: calc(100% - 20px);
    max-width: 964px;
    margin: auto;
    display: flex;
}
.content-area {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.list-coupons-area {
    width: 100%;
    max-width: 964px;
}
.coupons-list {
    width: 100%;
}


/* coupons colors styles */
.green-border {
    border: solid 2px var(--green-coupon-border-btncover);
}
.green-btn {
    background-color: var(--green-coupon-border-btncover);
}
/* .green-image-bg {
    background-color: var(--green-coupon-title-imagebg);
} */
.green-title {
    color: var(--green-coupon-title-imagebg);
}
.green-code {
    color: var(--green-coupon-dashedborder-code);
}
.green-dashed-border {
    border: 1px dashed var(--green-coupon-dashedborder-code);
}

.orange-border {
    border: solid 2px var(--orange-coupon-border-btncover);
}
.orange-btn {
    background-color: var(--orange-coupon-border-btncover);
}
/* .orange-image-bg {
    background-color: var(--orange-coupon-title-imagebg);
} */
.orange-title {
    color: var(--orange-coupon-title);
}
.orange-code {
    color: var(--orange-dashedborder-code);
}
.orange-dashed-border {
    border: 1px dashed var(--orange-dashedborder-code);
}

.black-border {
    border: solid 2px var(--black-coupon-border-btncover);
}
.black-btn {
    background-color: var(--black-coupon-border-btncover);
}
/* .black-image-bg {
    background-color: var(--black-coupon-title-imagebg);
} */
.black-title {
    color: var(--black-coupon-title);
}
.black-code {
    color: var(--black-dashedborder-code);
}
.black-dashed-border {
    border: 1px dashed var(--black-dashedborder-code);
}



/* coupon styles*/
.coupon {
    width: 100%;
    max-width: 964px;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px 0;
    border-radius: 6px;
}
.coupon-info-area {
    width: 100%;
    height: 100%;
    display: flex;
}
.coupon-info-area--image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coupon-info-area--image img{
    height: 100%;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    cursor: pointer;
}
.counpon-info-area--text {
    flex: 2;
    display: flex;
    padding-top: 8px;
    padding-right: 8px;
    flex-direction: column;
}
.coupon-title {
    flex: 1;
    font-size: 1.4em;
    margin-bottom: 6px;
}
.coupon-description {
    flex: 2;
    font-size: 14px;
    color: var(--chumbo);
    margin-bottom: 8px;
}
.coupon-tags-area {
    display: flex;
    flex-wrap: wrap;
}
.coupon-tag {
    height: 20px;
    display: inline-flex;
    padding: 0 4px;
    align-items: center;
    background-color: var(--cinza-fraco);
    border-radius: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
}
.coupon-tag span {
    display: flex;
    align-items: center;
    color: var(--cinza-medio);
    font-size: 0.8em;
}
.coupon-tag span:first-child {
    display: flex;
    align-items: center;
    margin-right: 4px;
}
.tag-icon {
    width: 18px;
    height: 18px;
}
.coupon-button-area {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.coupon-code-area {
    width: 80%;
    height: 50px;
    text-align: end;
    background-color: var(--coupon-code-bg);
    border-radius: 6px;
    position: relative;
}
.coupon-code-area--text {
    width: 94%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.coupon-btn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
    font-size: 1.40em;
    overflow: hidden;
    text-transform: uppercase;
}
.btn-code-opened {
    display: none;
}
.btn-code-half-opened {
    width: 88%;
}
.btn-code-closed {
    width: 100%;
}
.folded-corner {
    width: 33px;
    height: 100%;
    position: absolute;
    top: 2px;
    right: -18px;
    transform: rotate(-0.9turn);
    background-color: var(--white);
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}


/* PANEL AREA */

.panel-title {
    font-size: 1.4em;
    font-weight: 500;
    color: var(--chumbo);
    margin-top: 20px;
    margin-bottom: 5px;
}
.panel-description-area p {
    color: var(--chumbo);
    line-height: 20px;
    font-size: 0.9em;
    margin-bottom: 5px;
}
.panel-description-area li {
    color: var(--chumbo);
    line-height: 20px;
    font-size: 0.9em;
    margin-left: 22px;
}
.panel-description-area li:last-child {
    margin-bottom: 5px;
}


/* FOOTER AREA */

footer {
    width: 100%;
    font-size: 0.89em;
    line-height: 16px;
    font-weight: 400;
}
.footer-social-media-area {
    width: 100%;
    height: 60px;
    background-color: var(--roxo);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .container {
    margin: auto;
}
.about-us--title {
    width: 100%;
}
.footer-text {
    margin-bottom: 10px;
    width: 100%;
}
.about-us {
    padding: 10px 0 25px 0;
    color: var(--chumbo);
    background-color: var(--white);
    border-bottom: 1px solid var(--cinza-medio-fraco);
}
.about-us--information {
    color: var(--chumbo);
    padding: 10px 0;
}